@import url("https://fonts.googleapis.com/css?family=Lato|Pathway+Gothic+One&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pathway Gothic One", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #000000;
}

body::-webkit-scrollbar-thumb {
  background: #81c784;
}

.main {
  position: relative;
  min-height: 100vh;
  background-color: #263238;
  padding: 0 0 5rem 0;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .main {
    padding: 0 0 0 5rem;
  }
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5rem;
  background-color: #11171a;
  z-index: 10;
}

.navbar__nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.navbar__logo {
  display: none;
}

.navbar__item {
  width: 100%;
}

.navbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  text-decoration: none;
}

.navbar__link:hover .navbar__icon {
  color: #81c784;
}

.navbar__text {
  display: none;
}

.navbar__icon {
  color: #e0e0e0;
  min-width: 1.5rem;
  font-size: 1.5rem;
}

.active {
  background-color: #263238;
  color: #81c784;
}

@media only screen and (min-width: 768px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    -webkit-transition-property: width, opacity;
    transition-property: width, opacity;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
  }
  .navbar__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.8rem;
    letter-spacing: 0.3ch;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }
  .navbar__link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar__link:hover .navbar__text {
    color: #81c784;
  }
  .navbar__text {
    display: none;
    margin-left: 1rem;
    white-space: nowrap;
    overflow: hidden;
    color: #e0e0e0;
    font-family: "Pathway Gothic One", sans-serif;
  }
  .navbar__icon {
    min-width: 2rem;
    margin: 0 1.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .navbar__icon.rotate--180 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
  }
  .navbar:hover {
    width: 16rem;
    background-color: rgba(17, 23, 26, 0.95);
  }
  .navbar:hover .navbar__logo .navbar__text {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .navbar:hover .navbar__logo .navbar__text span:first-child {
    opacity: 0.4;
  }
  .navbar:hover .navbar__icon.rotate--180 {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .navbar:hover .navbar__text {
    display: block;
  }
  .navbar:hover .active {
    background-color: rgba(38, 50, 56, 0.7);
  }
}

.hipster {
  position: relative;
}

.hipster__header, .hipster__body {
  color: #ffffff;
}

.hipster__header {
  padding: 2rem 0;
  font-family: "Pathway Gothic One", sans-serif;
}

.hipster__body {
  padding-top: 1rem;
  font-family: "Lato", sans-serif;
}

.hipster__body:first-of-type {
  padding-top: 0;
}

.hero {
  position: relative;
  height: calc(100vh - 5rem);
  width: 100%;
  background: url(../../img/e-waste_hero.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__content {
  position: absolute;
  top: 25%;
  padding: 1rem 1rem 2rem 2rem;
  background: rgba(0, 0, 0, 0.7);
}

.hero__content h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.hero__content p {
  font-size: 1rem;
}

.hero__content p:first-of-type {
  margin: 1rem 0;
}

.hero__content .rc-btn {
  margin-top: 3rem;
}

.hero__callout {
  color: #81c784;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 100vh;
  }
  .hero__content {
    background: rgba(0, 0, 0, 0.8);
  }
  .hero__content h1 {
    font-size: 7rem;
    letter-spacing: 0.1ch;
    text-transform: uppercase;
  }
  .hero__content p,
  .hero__content .rc-btn {
    font-size: 1.5rem;
  }
}

.rc-btn {
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0.2ch;
  font-family: "Pathway Gothic One", sans-serif;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: #c78281;
  text-decoration: none;
  -webkit-transition-property: border, background-color;
  transition-property: border, background-color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.rc-btn:hover, .rc-btn:active, .rc-btn:focus {
  background-color: #b75f5e;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */