<div class="container">
    <h1 class="hipster__header">@Title</h1>

    <p class="hipster__body">I'm baby pork belly banjo direct trade, crucifix letterpress activated charcoal occupy kickstarter vegan scenester cliche deep v adaptogen franzen. Cloud bread vice aesthetic, kickstarter poke heirloom seitan. Austin copper mug chicharrones viral, succulents semiotics migas polaroid palo santo offal. Stumptown mixtape swag hella irony unicorn flannel celiac succulents lomo mumblecore seitan whatever. +1 pok pok raclette scenester tote bag, church-key meggings typewriter intelligentsia palo santo chartreuse. VHS lyft helvetica cred adaptogen fam humblebrag squid hashtag.</p>

    <p class="hipster__body">Lo-fi venmo tumeric listicle ethical next level adaptogen disrupt umami cred yr cray. Tofu migas kinfolk slow-carb trust fund echo park, post-ironic cronut asymmetrical vexillologist taiyaki. Forage yuccie poke aesthetic deep v kinfolk dreamcatcher raw denim meh franzen pug. YOLO pitchfork kogi hella bicycle rights aesthetic sriracha flexitarian. Asymmetrical pabst forage selfies cardigan. Succulents slow-carb swag street art, readymade small batch deep v. Synth hexagon put a bird on it, neutra godard viral hammock mlkshk venmo pabst deep v pour-over palo santo tilde vape.</p>

    <p class="hipster__body">Neutra tbh sartorial chillwave meditation heirloom you probably haven't heard of them palo santo. Mlkshk snackwave pinterest pop-up, portland pork belly schlitz jianbing. Typewriter disrupt lomo tattooed glossier. Sustainable live-edge vape drinking vinegar chartreuse slow-carb asymmetrical quinoa freegan mlkshk kitsch tofu single-origin coffee unicorn.</p>

    <p class="hipster__body">Prism before they sold out bicycle rights, mlkshk sustainable forage hella tote bag pinterest shabby chic 90's fam pop-up. Raw denim retro affogato activated charcoal gentrify keytar beard venmo ennui umami chartreuse sustainable paleo YOLO scenester. Offal craft beer edison bulb man braid cardigan stumptown vaporware vice. Small batch humblebrag chambray plaid stumptown bespoke pok pok. Waistcoat chicharrones keytar, ugh vice austin normcore echo park.</p>

    <p class="hipster__body">I'm baby pork belly banjo direct trade, crucifix letterpress activated charcoal occupy kickstarter vegan scenester cliche deep v adaptogen franzen. Cloud bread vice aesthetic, kickstarter poke heirloom seitan. Austin copper mug chicharrones viral, succulents semiotics migas polaroid palo santo offal. Stumptown mixtape swag hella irony unicorn flannel celiac succulents lomo mumblecore seitan whatever. +1 pok pok raclette scenester tote bag, church-key meggings typewriter intelligentsia palo santo chartreuse. VHS lyft helvetica cred adaptogen fam humblebrag squid hashtag.</p>

    <p class="hipster__body">Lo-fi venmo tumeric listicle ethical next level adaptogen disrupt umami cred yr cray. Tofu migas kinfolk slow-carb trust fund echo park, post-ironic cronut asymmetrical vexillologist taiyaki. Forage yuccie poke aesthetic deep v kinfolk dreamcatcher raw denim meh franzen pug. YOLO pitchfork kogi hella bicycle rights aesthetic sriracha flexitarian. Asymmetrical pabst forage selfies cardigan. Succulents slow-carb swag street art, readymade small batch deep v. Synth hexagon put a bird on it, neutra godard viral hammock mlkshk venmo pabst deep v pour-over palo santo tilde vape.</p>

    <p class="hipster__body">Neutra tbh sartorial chillwave meditation heirloom you probably haven't heard of them palo santo. Mlkshk snackwave pinterest pop-up, portland pork belly schlitz jianbing. Typewriter disrupt lomo tattooed glossier. Sustainable live-edge vape drinking vinegar chartreuse slow-carb asymmetrical quinoa freegan mlkshk kitsch tofu single-origin coffee unicorn.</p>

    <p class="hipster__body">Prism before they sold out bicycle rights, mlkshk sustainable forage hella tote bag pinterest shabby chic 90's fam pop-up. Raw denim retro affogato activated charcoal gentrify keytar beard venmo ennui umami chartreuse sustainable paleo YOLO scenester. Offal craft beer edison bulb man braid cardigan stumptown vaporware vice. Small batch humblebrag chambray plaid stumptown bespoke pok pok. Waistcoat chicharrones keytar, ugh vice austin normcore echo park.</p>

</div>

@code {
    [Parameter]
    public string Title { get; set; }
}